body {
    background-color: #0c003d;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");}
h1 {
    color: #DCD7C9;
    text-align: center;
}

h2 {
    text-align: center;

}

.div1 {
    
    padding:0 0 15px 0;
    margin: 5px;
    border-radius: 25px ;
}

.div2 {
    
    padding:0 0 15px 0;
    margin: 5px;
    border-radius: 25px ;
}

.title {
    background-color: #0c003d;
    border:solid 2px #2302a4;
    margin: 15px;
    color: #DCD7C9;
    padding: 5px;
    border-radius: 25px ;
}

.alarm-display {
    background-color: #090949;
    border:solid 2px #2302a4;
    margin: 15px auto;
    color: #DCD7C9;
    padding: 5px;
    text-align: center;
    border-radius: 25px ;
}

.counters {
    padding: 30px 0 30px 0 ;
    background-color: #2e048f;
    border:solid 2px #1c047b;
    border-radius: 25px ;
    margin: 0 15px 0 15px;
}

.sumit-button {
 
    margin:15px ;
}

.btn-counter {
    width: 1cm;
    border-radius: 50%;
    background-color: #2e048f;
    border: solid 1px rgb(219, 216, 216);
}
.btn-counter:hover{
    background-color: #2a3bd3;
    
}

.is-disable {
    display: none;
}

.input-format {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    width: max-content;
    margin: auto;
    border-radius: 25px;
    font-size: 30px;
    
}

.is-error {
    border: solid 5px #ff0000;
}


.input-format:focus {
    background-color: #3F4E4F;
    color: white;
}

.input-format::placeholder {
    color: white;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#stopimg {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    
}


.button-style{
    color: #DCD7C9;
    border:solid 2px #2302a4;
}

.button-style:hover{
    background-color: #090949;
    border:solid 2px #3504fd;
}
#stopButton {
    width: 300px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}